@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

p {
    margin: 0;
    padding: 0;
}

.padding160 {
    padding: 0 160px !important;
}

.padding165 {
    padding-left: 165px !important;
    padding-right: 165px !important;
}

.padding160left {
    padding-left: 160px;
}

.padding160right {
    padding-right: 160px;
}

.abs {
    position: absolute;
}

.centerAbs {
    top: 50%;
    transform: translateY(-50%);
}

.space_between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.marginRight30 {
    margin-right: 30px;
}

.sub-heading {
    text-align: center;
    padding: 68px 0 0 0;
    margin: 0 0 50px 0;
}

.remove {
    display: none !important;
    visibility: hidden !important;
}


/* HEADER NAV */

.header_nav {
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 116px;
    width: 100%;
}

.header_bottom-box-middle {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.header_bottom-box-middle > li {
    margin: 0 1rem;
    z-index: 1000;
}

.top-nav-menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-nav-toggle {
    display: none;
}

.top-nav-menu-button,
.top-nav-menu-button::before,
.top-nav-menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23,1,0.32,1);
    border-radius: 2px;
}

.top-nav-menu-button::before {
    content: '';
    margin-top: -8px;
}

.top-nav-menu-button::after {
    content: '';
    margin-top: 8px;
}

#top-nav-toggle:checked + .top-nav-menu-button-container .top-nav-menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#top-nav-toggle:checked +.top-nav-menu-button-container .top-nav-menu-button {
    background-color: rgba(255, 255, 255, 0);
}

#top-nav-toggle:checked + .top-nav-menu-button-container .top-nav-menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

/* HEADER TOP */

.header_nav-top {
    border-bottom: 1px solid #191919;
    display: flex;
    height: 36px;
    justify-content: flex-end;
    align-items: center;

}

.header_top-box {
    display: flex;
    position: relative;
    margin-left: 30px;
}

.header_top-img {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.header_top-text {
    color: #fff;
    margin-left: 15px;
    font-size: 12px;
    text-decoration: none;
    
}

/* HEADER BOTTOM */

.header_nav-bottom {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header_bottom-box {
    display: flex;
    position: relative;
    align-items: center;
}

.header_bottom-box:last-child {
    justify-content: center;
}

.header_bottom-box-small {
    transition: all .2s ease-out;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.header_bottom-box-small:not(:last-child){
    margin-right: 33px; 
} 

.header_bottom-logo {
    height: 57px;
    width: 61px;
    margin-right: 18px;
}

.header_bottom-h4 {
    color: white;
}

.header_bottom-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    /* font-size: 12px; */
}

.header_bottom-link:hover {
    border-bottom: 2px solid #ec0000;
}

.header_bottom-cheveron {
    color: #fff;
    width: 12px;
    height: 8px;
    cursor: pointer;
}

.header_bottom-img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* HEADER BUTTON */

.btn-header {
    display: flex;
    width: 125px;
    height: 48px;
    background-color: #262626;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    
}

.btn-header-img {
    height: 20px;
    width: 20px;
    margin: 0 16px;
}

.btn-header-text {
    color: #fff;
}

/* EXPLORE NAV */

.explore_nav {
    height: 80px;
    width: 100%;
    display: flex;
    border-top: 1px solid #fff;
    background-color: #fff;
}

.explore_nav:last-child {
    justify-content: flex-end;
}

.explore_nav-home {
    background-color: #ec0000;
    display: flex;
    align-items: center;
    margin-right: 35px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}

.explore_nav-home-text {
    color: #fff;
    font-size: 20px;
    padding-right: 47px;
    font-weight: 500;
}

.explore_nav-features {
    display: flex;
    align-items: center;
}

.explore_features-box:not(:last-child) {
    margin-right: 42px;
}

.explore_features-link {
    padding: 10px 5px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 11px;
}

.explore_features-link:hover {
    border-bottom: 2px solid #ec0000;
}

.explore_nav-buttons{
    display: flex;
    justify-self: flex-end;
    align-items: center;
}

.explore_button-box {
    display: flex;
    align-items: center;
    border: 1px solid #cecece;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
}

.explore_button-box:not(:last-child) {
    margin-right: 9px;
}

.explore_button-img {
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

.explore_button-text {
    font-size: 10px;
}

/* SECTION CAR */

.section-car {
    height: 872px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    padding-bottom: 90px;
    align-items: flex-end;
    position: relative;
    padding: 0 160px 90px 160px;
}

.section-col-container {
    display: flex;
    align-items: flex-end;
}

.car-col-1 {
    display: flex;
    flex-direction: column;
    /* width: 794px; */
    /* width: 100%; */
    justify-content: flex-end;
    height: 752px;
    border: none;
    margin-right: 20px;
}

.car-col-1 p {
    margin: 0;
    padding: 0;
}

.car-col-1 div {
    margin: 0;
    padding: 0;
}

.car-col-1-back {
    color: #64636b;
    margin-top: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 30px !important;
}

.car-back-cheveron {
    height: 8px;
    width: 5px;
    margin-right: 10px;
}

.car-col-1-back-text {
    font-size: 10px;
    text-decoration: none;
    color: #64636b;
}

.car-col-1-title {
    height: 50px;
}

.car-col-1-title-text {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px !important;
}

.car-col-1-info {
    display: flex;
    margin-bottom: 40px !important;
}

.car-col-1-info-container {
    display: flex;
    align-items: center;
}

.car-col-1-info-container:not(:last-child) {
    margin-right: 30px;
}

.car-info-text {
    font-size: 13px;
}

.car-col-1-vin {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.car-col-1-colors {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.car-info-color-exterior {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #64636b;
    margin-right: 11px !important;
    cursor: pointer;
}

.car-info-color-interior {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 11px !important;
    cursor: pointer;
}

.car-col-1-img-container {
    /* display: block;
    position: relative;
    height: 100%;
    width: 100%; */
}

.picture-fill {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    width: 100%;
    height: 100%;
}

.car-col-1-img {
    /* width: auto;
    height: auto; */
    min-height: 585px;
    max-height: 585px;
    min-width: 794px;
    max-width: 794px;
    object-fit: cover;
    
    cursor: pointer;
    transition: all .2s ease;
}

.car-col-2 {
    display: flex;
    flex-direction: column;
    height: 585px;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
}

.car-col-2-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.car-col-2-imgs img {
    min-width: 250px;
    max-width: 250px;
    min-height: 188px;
    max-height: 188px;
    object-fit: cover;
    cursor: pointer;
    transition: all .2s ease;
}

.car-col-2-btn {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.car-col-2-btn-background {
    background-color: white;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    position: absolute;
    top: -25px;
    left: -25px;
}

.car-col-2-btn-cheveron {
    position: absolute;
    top: -10px;
    left: -10px;
}

/* CAR COL 3 */

.car-col-3 {
width: 520px;
display: flex;
flex-direction: column;
}

.car-col-3-options {
    text-decoration: none;
    color: #000;

}

.car-col-3-options-link {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding-bottom: 5px;
}

.car-col-3-options-link:hover {
    border-bottom: 3px #000 solid;
}

.car-col-3-options-link:not(:last-child) {
    margin-right: 30px;
}

.car-col-3-selections {
    height: 687px;
    width: 520px;
    background-color: #fff;
    margin-top: 20px;
    padding: 34px;
    display: flex;
    flex-direction: column;
}

.car-col-3-selections-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car-selections-bottom-low {
    margin: auto 0 0 0;
}

.car-col-3-selections-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    align-items: flex-start;
    height: 78px;
}

.car-selections-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
}

.car-selections-heading-info {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.car-selections-heading-info p {
    margin: 0;
    padding: 0;
}

.selections-heading-info-price {
    margin-bottom: 17px !important;
    font-weight: 700;
}

.selections-heading-info-summary {
    font-size: 10px;
    margin-bottom: 17px !important;
}

.car-col-3-selections-prices {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 16px 25px;
    border-bottom: 1px solid #ebebeb;
}

.car-col-3-selections-prices p {
    margin: 0;
    padding: 0;
}

.selections-prices-name {
    font-size: 10px;
    
}

.selections-prices-cash {
    font-weight: 700;
}

.car-col-3-selections-container {
    padding: 20px 0;
}

.car-col-3-selections-downpayment {
    display: flex;
    height: 34px;
    margin-bottom: 13px !important;
}

.car-col-3-selections-trade {
    display: flex;
    height: 34px;
    margin-bottom: 13px !important;
}

.car-col-3-selections-term {
    display: flex;
    height: 34px;
    margin-bottom: 13px !important;
}

.car-col-3-selections-mpy {
    display: flex;
    height: 34px;
    margin-bottom: 13px !important;
}

.selections-container-col-1 {
    min-width: 148px;
    display: flex;
    align-items: center;

}

.selections-container-col-2 {
    border: solid 1px #c9c9c9;
    display: flex;
    padding-left: 24px;
    height: 33px;
    min-width: 105px;
    align-items: center;
    margin-right: 22px;
}

.selections-container-col-2 span {
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-2-input {
    background: none;
    border: none;
    max-width: 60px;
    outline: none;
    text-align: left;
    font-size: 16px;
    padding: 0 0 0 2px;
}
.col-2-input:active,
.col-2-input:focus,
.col-2-input:focus-visible {
    border: none;
}

.selections-col-2-price p {
    margin: 0;
    padding: 0;
}

.selections-container-col-3 {
    display: flex;
    align-items: center;
    width: 100%;
}

.selections-container-slider {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 2px;
    border-radius: 100px;
    background-color: #373739;
    outline: none;
    background-repeat: no-repeat;
    cursor: ew-resize;
}

.selections-container-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #ec0000;
}

.selections-container-slider::-moz-range-thumb {
    width: 100%;
}

.selections-container-col-2-big {
    border: solid 1px #c9c9c9;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.selections-col-2-big-info {
    padding-left: 24px;
}

.car-col-3-btn-cheveron {
    width: 10px;
    height: 10px;
    margin-right: 9px;
}

.car-col-3-selections-bio {
    margin-bottom: 18px;
    max-height: 85px;
}

.car-selections-bio-text {
    margin: 0;
    padding: 0;
    color: #646466;
    font-size: 12.5px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.car-selections-bio-more {

}

.car-selections-bio-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 12.5px;
}

.car-col-3-selections-contact {
    height: 55px;
    width: 100%;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 19px;
}

.car-selections-contact-container {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.car-selections-contact-container:not(:last-child) {
    border-right: 1px solid #646466;
}

.car-selection-contact-svg {
    /* margin-left: 20px;*/
    margin-right: 12px; 
}

.car-selections-contact-name {
    /* padding-right: 18px; */
    font-size: 12.5px;
}

.car-col-3-selections-btn {
    width: 100%;
    height: 70px;
    background-color: #000;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-car {
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 108px;
    height: 40px;
    background-color: #ec0000;
    color: #fff;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.section-packages {
    height: 320px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.package-title {
    font-size: 27px;
    font-weight: 700;
}

.packages.list {

}

.packages-list-item {

}

.packages-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.section-features {
    height: 320px;
    width: 100%;
    margin-bottom: 18px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.features-title {
    font-size: 27px;
    font-weight: 700;
    margin: 50px 0 0 0;
}

.features-container {
    display: flex;
}

.feature-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    
}

.feature-col:not(:last-child) {
    margin-right: 12px;
}

.feature-svg {
    margin-bottom: 30px;
}

.feature-discription {
    border: 1px solid #cfd0d2;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    font-size: 14px;
}

/* SECTION DETAILS */

.section-details {
    height: 660px;
    width: 100%;
    background-color: #fff;
}

.section-details-container {
    display: flex;
    /* padding-right: 255px;
    padding-left: 428px; */
}

.section-details-overview {
    display: flex;
    flex-direction: column;
    width: 54%;
    padding-right: 258px;
    
    /* margin-left: 160px; */
}

.details-title {
    text-align: center;
    padding: 68px 0 0 0;
    margin: 0 0 50px 0;
}

.details-overview-summary {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.7;
}

.section-details-buttons {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 160px;
    
}

.section-details-btn {
    border: 1px solid #c9c9c9;
    background: none;
    height: 50px;
    width: 250px;
    text-align: start;
    display: flex;
    align-items: center;
    position: relative;
}

.section-details-btn:hover > a {
    color: #fff;
}

.section-details-btn:hover {
    background: #000;
    border: none;
    color: #fff;
}

.details-btn-active {
    background: #000;
    border: none;
    color: #fff;
}

.details-btn-active > a {
    color: #fff;
}

.section-details-btn:not(:last-child) {
    margin-bottom: 18px;
}

.details-btn-img-box {
    height: 100%;
    width: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details.btn-img {

}

.details-btn-text {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.details-btn-text:hover {
    color: #fff;
}

.section-details-container-main {
    
}

.details-buttons-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.details-overview-mobile {
    width: 100%;
}

.overview-mobile-list {
    padding: 0;
    margin: 0;
    text-align: left;
    
    
}

.overview-mobile-list-item {
    line-height: 1.7;
    /* padding-left: 20px; */
    list-style-position: outside;
    margin-left: 20px;
}

.overview-mobile-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.mobile-details-cheveron {
    color: #000;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* SECTION BANNER */

.section-banner {
    width: 100%;
    height: min-content;
    /* background-image: url("images/Banner.jpg"); */
}

.banner-image {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

/* SECTION SIMILAR */

.section-similar {
    height: 950px;
    width: 100%;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.similar-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    width: 1325px;
    overflow: hidden;

    
}

.similar-card {
    height: 667px;
    min-width: 385px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 40px 32px;
    border-radius: 20px;
    box-shadow: 1px 20px 10px rgba(0,0,0, .03);
    margin: 0 32px;
    transform: translateX(0);
    transition: transform 0.25s;
}

/* .similar-card:not(:last-child)
{
    margin-right: 64px;
} */

.card-title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card-img {
    position: absolute;
    top: 35%;
    left: -65px;
    transform: translateY(-35%);
}

.card-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-top-box {
    height: 52px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    margin-bottom: 30px;
}

.card-lease {
    width: 40%;
}

.card-lease  > p,
.card-lease  > h4 {
    margin: 0 0 2px 0;
    padding: 0;
    text-align: center;
}

.card-lease  > p {
    font-size: 10px;
}

.card-lease-price {
    font-size: 20px;
}

.card-disclaimer {
    width: 60%;
}

.card-disclaimer  > p,
.card-disclaimer  > a {
    margin: 0;
    padding: 0;
}

.card-disclaimer  > p {
    font-size: 10px;
}

.card-disclaimer-link {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 10px;
}

.card-br-line {
    width: 220px;
    height: 1px;
    background-color: #cfd0d2;
    margin: 24px 0 28px 0;
}

.card-btn {
    width: 100%;
    height: 52px;
    border: 1px solid #000;
    font-weight: 700;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.card-btn:hover {
    background-color: #000;
    color: #fff;
}

.carousel-btn {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
}

.carousel-btn:hover {
    background-color: #000;
}

.carousel-btn:hover > .carousel-btn-cheveron {
    color: #fff !important;
}

.carousel-btn-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

.carousel-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}

.carousel-btn-cheveron {
    height: 14px;
    width: 8px;
    /* position: absolute; */
}


/* SECTION MODELS */

.section-models {
    height: 390px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.models-carousel-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    max-width: 1450px;
    overflow: hidden;
}

.models-card {
    display: flex;
    flex-direction: column;
    height: 265px;
    min-width: 185px;
    margin: 0 30px;
    
    border: 1px solid transparent;
    border-bottom: 5px transparent solid;
    align-items: center;
    position: relative;
    justify-content: space-between;

    transform: translateX(0);
    transition: transform 0.25s;

}

.models-card:hover {
    background-color: #f2f2f2;
    border: 1px solid #bebebe;
    border-bottom: 5px #ec0000 solid;
}

.models-card:hover > h1 {
    color: #000;
}

.models-card-number {
    font-size: 90px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #ebebeb;
}

.models-card-img {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.models-card-info {
    margin-bottom: 40px;
}

.models-card-info > p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
}

.models-info-name {
    color: #000;
    margin-bottom: 5px !important;
}

.models-info-price {
    color: #8a8b8d;
}

.models-background {
    background-color: #f5f5f5;
}
/* FOOTER */

.footer {
    height: 450px;
    width: 100%;
    background-color: #000;
    padding: 75px 155px 0 155px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 100%;
}

.footer-btn {
    background: none;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 35px;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.footer-btn > img {
    vertical-align: middle;
}

.footer-btn > span {
    vertical-align: middle;
}

.footer-socials {

}

.footer-hometown {
    transform-origin: top;
    transition: all .3s ease-in;
    transform: scale(1);
    display: flex;
    flex-direction: column;
}

.footer-inventory {   
    display: flex;
    flex-direction: column;
}

.footer-service {
    transition: all .3s ease-in;
    transform: scale(1);
    display: flex;
    flex-direction: column;
}

.footer-finance {
    transition: all .3s ease-in;
    transform: scale(1);
    display: flex;
    flex-direction: column;
}

.footer-cheveron {
    display: none;
    color: #fff;
}

#footer-service-toggle {
display: none;
}

#footer-inventory-toggle {
    display: none;
}

#footer-finance-toggle {
    display: none;
}

.footer-inventory-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-service-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-finance-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-socials-img {
    cursor: pointer;
}

.footer-socials-img:not(:last-child) {
    margin-right: 18px;
}

.footer-title {
    color: #fff;
    margin: 0 0 40px 0;
    padding: 0;
}

.footer-contact-box {
    display: flex;
}

.footer-contact-box:not(:last-child) {
    margin-bottom: 18px;
}

.footer-icon-box {
    min-width: 33px;
}

.footer-contact-icon {

}

.footer-contact-text {
    text-decoration: none;
    color: #fff;
}

.footer-top-link {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    width:fit-content;
    border-bottom: 2px solid transparent;
}

.footer-top-link:hover {
    border-bottom: 2px solid #ec0000;
}

.footer-top-link:not(:last-child) {
    margin-bottom: 18px !important;
}

.footer-bottom {
    height: 45px;
    width: 100%;
    display: flex;
    border-top: 1px solid #1a1b1f;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-left {
    display: flex;
    align-items: center;
}

.footer-bottom-left-mobile {
    display: flex;
    align-items: flex-end;
}

.footer-bottom-link {
    color: #fff;
    font-size: 12px;
}

#footer-bottom-link-xml {
    text-align: center;
    vertical-align: center;
    margin-left: 17px;
}

.footer-bottom-link:not(:last-child) {
    margin-right: 17px;
}

.footer-bottom-right {
    color: #fff;
    display: flex;
    font-size: 12px;
}

.footer-bottom-copyright {

}

.footer-bottom-logo {
    text-transform: uppercase;
    margin-left: 40px;
}

/* POPUP */

.popup {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: .2s ease-in-out;
    
    z-index: 9999;
    background-color: #f4f4f4;
    height: 3570px;
    width: 1607px;
    
}

.popup.active {
    transform: translateX(-50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 133px;
    width: 100%;
    
}

.popup-header .popup-title {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup-heading {
margin-right: 12px;
}

.popup-heading-img {
margin-left: 12px;
cursor: pointer;
}

.popup-header .popup__close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    position: absolute;
    top: 15px;
    right: 15px;
}

.popup__content {
    display: flex;
    justify-content: space-between;
    padding: 0 123px 0 145px;
}

#popup-overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
    transition: .2s ease-in-out;
}

#popup-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.popup-options {
    margin-bottom: 23px;
    padding-left: 145px;
}

.popup-content-left {
    width: 792px;
    height: 3275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.popup-padding {
    padding: 16px 32px 32px 32px !important;
}

.popup-selections {
    height: 370px;
    width: 100%;
    background-color: #fff;
    /* padding: 16px 32px 32px 32px !important; */
    
}

.selections-mobile-container-1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.selections-mobile-container-2 {
    display: flex;
    width: 100%;
}

.popup-selections-down {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}


.popup-down-name {
    margin-right: 25px;
    font-size: 12px;
    min-width: 123px;
}

.popup-down-name-2{
    padding-left: 44px;
}

.popup-col-2 {
    width: 91px;
}

.popup-slider {
    width: 137px;
    
}

.popup-selections-col-5 {
    /* width: 191px; */
}

.popup-selections-trade {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.popup-selections-disclaimer {
    font-size: 10px;
    line-height: 2.1;
}

.popup-discounts {
    height: 554px;
    width: 100%;
    background-color: #fff;
}

.popup-section-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-section-title {
    font-size: 25px;
    font-weight: 700;
}

.popup-section-subheading {
    font-size: 12px;
    margin: 0 0 32px 0;
    line-height: 1.9;
}

.popup-code-apply {
    display: flex;
    width: 237px;
    height: 54px;
    margin: 0 0 32px 0;
    /* border: 1px solid #000; */
}

.popup-code-input {
    background: none;
    height: 100%;
    width: 139px;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid #c1c1c1;
}

.popup-code-btn {
    background: none;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 700;
    color: #000;
}

.popup-discount-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    height: 81px;
    width: 100%;
    padding: 24px;
}

.popup-discount-row:not(:last-child) {
    margin-bottom: 18px;
}

.discount-row-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discount-row-name {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.discount-row-link {
    font-size: 8px;
    color: #000;
}

.discount-row-right {
    display: flex;
    align-items: center;
}

.discount-row-right span {
    font-size: 10px;
    margin-left: 8px;
}

.popup-trade {
    height: 875px;
    width: 100%;
    background-color: #fff;
}

.popup-trade-enter {
    height: 106px;
    width: 100%;
    border: 1px solid #b9b9b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 27px;
}

.trade-enter-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64px;
}

.trade-enter-left p {
    margin: 0;
}

.trade-enter-left-title {
 font-size: 12px;
}

.trade-enter-left-car {
    font-size: 10px;
}

.trade-enter-left-change {
    color: #b9b9b9;
    font-size: 12px;
}

.trade-enter-right {
    padding: 20px 27px;
    margin: 0;
    border: 1px solid #b9b9b9;
}

.popup-trade-content {
    height: 500px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 31px 0 36px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-content-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trade-content-title {
    margin: 0 0 23px 0;
}

.trade-content-title-2 {
    font-size: 16px;
    margin: 32px 0 23px 0;
}

.trade-content-subhead {

}

.trade-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 103px;
}

.trade-content-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 221px;
    margin-bottom: 19px;
    margin-top: 29px;
}

.content-value-box {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 36px;
    width: min-content;
    justify-content: space-between;
}



.value-box-name {

}

.value-box-price {

}

.trade-content-slider-container {
    height: 18px;
    width: 185px;
    /* background-color: #cfd0d4; */
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.trade-content-slider {
    height: 1px;
    background-color: #cfd0d4;
    width: 100%;
}


.content-slider-thumb {
    height: 8px;
    width: 8px;
    background-color: #cfd0d4;
    position: absolute;
    border-radius: 50%;
    transition: all .1s ease-in-out;
    transform-origin: center;
    cursor: pointer;
}

.content-slider-thumb:hover {
    background-color: #ec0000;
    top: 50%;
    transform: translateY(-50%) scale(1.9);
}

.content-slider-thumb-1 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.content-slider-thumb-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-slider-thumb-2:hover {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.9);
}

.content-slider-thumb-3 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.trade-content-text {
    font-size: 12px;
    text-align: center;
}

.trade-content-ownership {
    height: 80px;
    width: 514px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content-ownership-box {
    height: 100%;
    width: 154px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 26px 0;
    text-align: center;
    cursor: pointer;
}

.content-ownership-box:hover {
    border: 1px solid #000;
    background-color: #fff;
}

.ownership-box-title {
    font-weight: 500;
    margin: 0;
    font-size: 12px;
}

.content-ownership-box span {
    font-size: 10px;
    font-weight: 300;
}

.trade-content-bottom {
    min-height: 81px;
    width: 100%;
    border: 2px solid #000;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 23px;
    margin-top: 16px;
}

.trade-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.trade-text-title {
    font-size: 14px;
}

.trade-text-subtitle {
    font-size: 10px;
}

.trade-bottom-check {
    height: 45px;
    min-width: 45px;
    border: solid 3px #b3b3b3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-check {
    height: 15px;
    width: 20px;
    color: #b3b3b3;
}

.popup-credit {
    height: 260px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-margin {
    margin: 0 !important;
}

.margin-bottom-18 {
    margin: 0 0 18px 0;
}

.popup-section-link {
    font-size: 10px;
    color: #898989;
}

.popup-credit-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.credit-bottom-right {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: center;
    justify-content: space-between;
}

.credit-bottom-right-top {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.credit-bottom-number {
    font-size: 12px;
}

.credit-bottom-right-bottom {

}

.credit-content-slider-container {
    height: 18px;
    width: 284px;
    position: relative;
    display: flex;
    align-items: center;
    /* margin-bottom: 40px; */
}

.credit-content-slider {
    height: 1px;
    background-color: #cfd0d4;
    width: 100%;
}

.credit-slider-thumb-1 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.credit-slider-thumb-2 {
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

.credit-slider-thumb-3:hover {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.9);
}

.credit-slider-thumb-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.credit-slider-thumb-4 {
    top: 50%;
    right: 25%;
    transform: translate(-25%, -50%);
}

.credit-slider-thumb-5 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.popup-taxes {
    height: 240px;
    width: 100%;
    background-color: #fff;
}

.taxes-content-row {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.taxes-buttons-left {
    display: flex;
}

.taxes-content-button {
    width: 175px;
    height: 54px;
    background: none;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    cursor: pointer;
    font-weight: 300;
    color:#000;
}

.taxes-content-button:hover {
    background-color: #fff;
    border: 1px solid #000; 
}

.margin-auto {
    margin: auto 0;
}

.popup-plans {
    height: 582px;
    width: 100%;
    background-color: #fff;
}

.popup-btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.popup-plans-btn {
    height: 54px;
    width: 158px;
    background: none;
    border: 1px solid #000;
    margin-top: 8px;
    color: #000;
}

.popup-disclaimer {
    height: 220px;
    width: 100%;
}


.popup-disclaimer-text {
    font-size: 12px;
}

.popup-disclaimer-text:not(:last-child) {
    margin-bottom: 14px;
}

.popup-content-right {
    height: 794px;
    width: 520px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-right-title {
    height: 134px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.right-title-margin {
    margin: 0 !important;
}

.right-subhead-margin {
    margin: 15px 0 13px 0 !important;
}

.popup-right-car {
    height: 176px;
    width: 100%;
}

.right-car-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right-car-img {
    transform: scaleX(-1);
    height: 147px;
}

.right-car-box {
    text-align: center;
    margin-left: 48px;
}

.right-car-box h4 {
    margin: 0;
}

.right-car-box p {
    margin: 0;
    font-size: 12px;
}

.right-car-box-money {
    position: relative;
}

.right-car-box-money span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    font-weight: 700;
}

.right-car-box-money h1 {
    font-size: 34px;
    margin: 16px 0;
}

.right-car-bottom-text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
}

.popup-right-total {
    height: 324px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 30px;
}

.right-total-top {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 18px;
}

.right-total-bottom {
    width: 100%;
}

.total-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.total-row-text {
    margin: 0 0 18px 0;
    font-size: 10px;
}

.total-row-text-bold {
    font-weight: 700;
}

.total-row-text-red {
    font-weight: 700;
    color: #ec0000;
}

.popup-section-title-boxes {
    display: flex;
}

.popup-section-title-box {
    display: flex;
}

.popup-section-title-box p {
    font-weight: 500;
    font-size: 10px;
    margin-left: 7.5px;
    margin-right: 7px;
}

.popup-section-title-box span {
    font-size: 10px;
    margin-right: 7.5px;
}

.popup-right-disclaimer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 26px 0;
    
}

.popup-right-disclaimer p {
    display: flex;
    justify-content: center;
}

.popup-right-disclaimer a {
    display: flex;
    justify-content: center;
    color: #000;
    margin-left: 28px;
}

.popup-right-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup-right-button {
    background: none;
    height: 65px;
    width: 223px;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    font-size: 18px;
    color: #000;
}

.popup-right-button:hover {
    color: #fff;
    background-color: #000;
}

/* MEDIA QUEUERIES */

@media only screen and (min-width: 2001px) {
    .section-car {
        justify-content: space-between;
    }
}  

@media only screen and (min-width: 1951px) {

}  

@media only screen and (max-width: 1901px) {
    .header_bottom-link {
        font-size: 10px;
    } 
}  

@media only screen and (max-width: 1851px) {
    .models-carousel-container {
        max-width: 1205px;
    }
} 

@media only screen and (max-width: 1801px) {
    .carousel-btn-left {
        left: 5%;
    }

    .carousel-btn-right {
        right: 5%;
    }

    .section-col-container {
        flex-direction: column;
        justify-content: flex-end;
        width: 794px;
    }

    .car-col-1 {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .car-col-2 {
        justify-content: flex-end;
        height: 188px;
        width: 100%;
        margin-right: 0;
    }

    .car-col-2-imgs {
        flex-direction: row;
        height: 188px;
    }

    .car-col-2-btn {
        right: 0;
        bottom: 50%;
        transform: translateY(-50%);
    }

    .car-col-2-btn-cheveron {
        transform: rotate(-90deg);
    }

    .section-car {
        height: 1080px;
        justify-content: space-between;
    }

    .car-col-3 {
        height: 914px;
        justify-content: flex-start;
    }
    .section-col-container {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1800px) {

}

@media only screen and (max-width: 1750px) {

}

@media only screen and (max-width: 1700px) {

}

@media only screen and (max-width: 1650px) {

}

@media only screen and (max-width: 1600px) {
    .padding160right {
        padding-right: 20px;
    }
    .padding160 {
        padding: 0 20px !important;
    }
    .padding160left {
        padding-left: 20px;
    }
    .section-car {
        padding: 20px;
        align-items: flex-start;
    }
    .car-col-1 {
        margin-right: 0;
    }
    .footer {
        padding: 10px 20px 0 20px;
    }
    .section-col-container {
        height: 100%;
        justify-content: flex-start;
    }
    .popup {
        width: 100%;
        height: 4300px;  
        top: 0;
        left: 0;
        transform: translate(0) scale(0);
    }
    .popup.active {
        transform: translate(0) scale(1);
    }
    .popup__content {
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    .popup-options {
        text-align: center;
        padding-left: 0;
    }
    .popup-down-name {
        min-width: 123px;
    }
    /* .popup-selections-col-5 {
        width: 100%;
    } */

}

@media only screen and (max-width: 1550px) {

}

@media only screen and (max-width: 1500px) {
    .similar-container {
        width: 898px;
    }
}

@media only screen and (max-width: 1450px) {
    .models-carousel-container {
        max-width: 960px;
    }
}

@media only screen and (max-width: 1400px) {
    #footer-socials {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 1350px) {
    .section-car {
        width: 100vw;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .section-col-container {
        margin-top: 20px;
        margin-right: 0;
    }

    .car-col-2 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .car-col-3 {
        align-items: center;
    }

    .header_nav {
        height: 100%;
    }

    .header_nav-top {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 1300px) {
    
}

@media only screen and (max-width: 1250px) {
    .top-nav-menu-button-container {
        display: flex;
    }
    .header_bottom-box-middle {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #top-nav-toggle ~ .header_bottom-box-middle li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23,1,0.32,1);
        opacity: 0;
    }
    #top-nav-toggle:checked ~ .header_bottom-box-middle li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23,1,0.32,1);
        opacity: 1;
    }
    .header_bottom-box-middle > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #222;
    }
    .header_bottom-box-middle > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    .header_bottom-box:last-child {
        display: none !important;
    }
    .header_bottom-cheveron {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .explore_nav-buttons {
        visibility: hidden;
        display: none;
    }

    .space_between {
        justify-content: flex-end;
    }

    .models-carousel-container {
        max-width: 470px;
    }
    .section-details-container {
        display: none;
    }
    .details-buttons-mobile {
        display: flex;
    }
    .section-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-bottom: 50px;
    }
    .section-details-btn {
        width: 100%;
        margin-bottom: 33px;
    }
    .popup-content-left {
        width: 100%;
        height: min-content;
    }
    .popup-content-right {
        width: 100%;
        height: min-content;
    }
    .popup-disclaimer {
        padding: 0 32px;
        height: min-content;
    }
    .selections-mobile-container-1 {
        width: 40%;
        justify-content: space-between;
    }
    .selections-mobile-container-2 {
        justify-content: space-between;
        width: 40%;
    }
    .popup-selections-col-5 {
        width: 100%;
    }
    .popup-bottom-margin {
        margin-bottom: 24px;
    }
    .popup-right-btns {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1150px) {
    
}

@media only screen and (max-width: 1100px) {
    
}

@media only screen and (max-width: 1050px) {
    .similar-container {
        width: 449px;
    }

    .footer {
        height: 100%;
    }

    .footer-top {
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
        border-bottom: 1px solid #1a1b1f;
    }
    #footer-hometown {
        visibility: hidden;
        display: none;
    }
    .footer-inventory {
        
        display: none;
        visibility: none;
    } 
    .footer-service {
        display: none;
        visibility: none;
    }
    .footer-finance {
        display: none;
        visibility: none;
    }
    #footer-bottom-link-xml {
        display: none;
        visibility: none;
    }
    .footer-bottom-left-mobile {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .footer-bottom-right {
        display: none;
        visibility: none;
    }
    /* .footer-col:active div {
        display: flex;
    } */

    .footer-bottom-link:not(:last-child) {
        margin: 0 0 15px 0;
    }

    .footer-cheveron {
        display: flex;
    }

    .footer-bottom-left-mobile {
        margin-top: 20px;
    }

    .footer-bottom {
        height: 100%;
    }

    .footer-finance-header {
        cursor: pointer;
    }

    .footer-service-header {
        cursor: pointer;
    }

    .footer-inventory-header {
        cursor: pointer;
    }

    .footer-title {
        padding: 26px 0 22px 0;
        margin: 0;
    }
    #footer-finance-toggle:checked ~ .footer-finance {
        display: flex;
    }
    #footer-finance-toggle:checked ~ .footer-finance-header svg {
        transform: rotate(180deg);
    }

    #footer-service-toggle:checked ~ .footer-service {
        display: flex;
    }
    #footer-service-toggle:checked ~ .footer-service-header svg {
        transform: rotate(180deg);
    }

    #footer-inventory-toggle:checked ~ .footer-inventory {
        display: flex;
    }
    #footer-inventory-toggle:checked ~ .footer-inventory-header svg {
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 1000px) {
    .section-features {
        height: 100%;
    }
    .features-container {
        flex-direction: column;
        margin:  33px 0;
    }
    .feature-col {
        margin: 0;
    }
    .feature-col:not(:last-child) {
        margin: 0 0 44px 0;
    }
}

@media only screen and (max-width:900px) {
    .section-details-btn {
        width: 100%;
    }
    .section-details {
        padding: 27px;
        height: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .car-col-1 {
        justify-content: flex-start;
        height: 100%;
        width: min-content;
    }
    .section-col-container {
        width: min-content;
    }
    .car-col-1-img-container {
        height: 416px;
        width: 565px;
    }
    .car-col-1-img {
        min-height: 416px;
        min-width: 565px;
        max-height: 416px;
        max-width: 565px;
        object-fit: cover;
    }
    .section-car {
        justify-content: flex-start;
        align-items: center;
    }
    /* .car-col-1 {
        height: 100%;
        width: 337px;
    }
    .section-col-container {
        flex-direction: column;
    } */
    .car-col-2 {
        height: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .car-col-2-imgs {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    .car-col-2-imgs img {
        max-height: 120px;
        max-width: 171px;
        min-height: 120px;
        min-width: 171px;
        
    }
    .car-col-1-info {
        flex-direction: column;
        margin: 0 !important;
    }
    .car-info-text {
        font-size: 10px;
    }
    .car-col-1-colors {
        flex-direction: column;
    }
    .car-col-1-colors .car-col-1-info-container:first-child {
        margin-bottom: 13px !important;
    }
    .car-col-3 {
        height: 100%;
    }
    .btn-car {
        display: none;
    }
    .car-col-1-vin {
        margin-bottom: 19px !important;
    }
    .car-col-1-colors {
        margin-bottom: 21px !important;
    }
    .car-info-color-exterior {
        display: flex;
    }
}

@media only screen and (max-width:800px) {
    .car-col-3-selections-prices {
        width: 100%;
    }
    .padding165 {
        padding: 16px 0 !important;
    }
    .popup-selections-down {
        flex-direction: column;
        height: min-content;
        justify-content: stretch;
    }
    .popup-selections-trade {
        flex-direction: column;
        height: min-content;
    }
    .popup-selections {
        height: min-content;
    }
    .popup-trade {
        height: min-content;
    }
    .popup-trade-content {
        height: min-content;
    }
    .selections-mobile-container-1 {
        margin-bottom: 15px;
        width: 100%;
    }
    .selections-mobile-container-2 {
        width: 100%;
    }
    .popup-down-name-2 {
        padding: 0;
    }
    .popup-slider {
        width: 100%;
    }
    .taxes-content-row {
        flex-direction: column;
        height: min-content;
        align-items: center;
    }
    .popup-taxes {
        height: min-content;
    }
    .taxes-buttons-left {
        margin-bottom: 15px;
        width: 100%;
        justify-content: center;
    }
    .trade-content-main {
        padding: 0 15px;
    }
    .trade-content-ownership {
        width: 100%;
    }
    .popup-disclaimer {
        height: min-content;
        padding: 15px;
    }
    .popup-content-right {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .popup-credit-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .credit-bottom-right {
        margin-top: 15px;
    }
    .popup-credit {
        height: min-content;
    }


}

@media only screen and (max-width:600px) {
    .section-packages {
        display: none;
    }
    .explore_nav-home {
        display: none;
    }
    .details-buttons-mobile {
        width: 100%;
    }
    .car-col-1 {
        margin-bottom: 10px;
    }

    .car-col-1-img-container {
        height: 248px;
        width: 337px;
    }
    .car-col-1-img {
        min-height: 248px;
        min-width: 337px;
        max-height: 248px;
        max-width: 337px;
        object-fit: cover;
    }
    .car-col-2-imgs {
        height: 100%;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    .car-col-2-imgs img {
        max-height: 68px;
        max-width: 92px;
        min-height: 68px;
        min-width: 92px;
        
    }
    .car-col-3 {
        width: 100%;
    }
    .car-col-3-selections {
        width: 100%;
    }
    #selections-interested {
        display: none;
    }
    .car-selections-bio-text {
        font-size: 10px;
    }
    .padding160right {
        padding: 0;
    }

    .section-similar {
        height: 100%;
        padding-bottom: 49px;
    }
    .big-carousel-btn {
        display: none;
    }
    .similar-container {
        overflow-x: scroll;
        width: 100% !important;
        scrollbar-width: none;
    }
    .similar-container::-webkit-scrollbar {
        display: none;
    }
    .small-carousel-btn {
        display: none;
    }
    .models-carousel-container {
        max-width: 100vw;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .models-carousel-container::-webkit-scrollbar {
        display: none;
    }
    .explore_nav-features-box {
        overflow-x: scroll;
        white-space: nowrap;
        scrollbar-width: none;
        padding: 0 32;
    } 
    .explore_features-box:first-child {
        margin: 0 32px;
    }
    .explore_features-box {
        margin-right: 32px;
    }
    .explore_nav-features-box::-webkit-scrollbar {
        display: none;
    }
    .explore_features-link {
        font-size: 16px;
    }
    .space_between {
        justify-content: flex-start;
    }
    .content-ownership-box {
        width: 130px;
    }
    
}
@media only screen and (max-width:500px) {
    .car-col-3-selections-prices {
        padding: 16px 0;
    }
    .selections-container-col-1 {
        min-width: 132px;
    }
    .selections-col-2-big-info {
        font-size: 12px;
    }
    .selections-container-col-2 {
        min-width: 75px;
        margin-right: 19px;
        justify-content: center;
        padding-left: 0;
    }
    .car-col-3-selections {
        padding: 26px;
    }
    .similar-card {
        min-width: 319px;
        min-height: 492px;
        border-radius: 0;
    }
    .content-ownership-box {
        width: 100px;
    }
    .popup-col-2 {
        min-width: 91px !important;
    }
    .popup-down-name {
        min-width: calc(123px - 16px);
    }
    .trade-content-subhead {
        font-size: 12px;
    }
    .selections-container-col-2 input,
    .selections-container-col-2 span {
        font-size: 12px;
    }
    .col-2-input {
        max-width: 35px;
    }
}

@media only screen and (max-width: 450px) {
    .right-car-box {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .content-ownership-box {
        width: 75px;
    }
    .right-car-img {
        height: 130px;
    }
    .car-col-2-btn {
        display: none;
    }
    .similar-card {
        min-width: 280px;
        margin: 0 10px;
    }
    .card-img {
        transform: translateY(-35%) scale(.8);
        left: -80px;
    }
    .popup-heading-img {
        display: none;
    }
    .popup-heading {
        font-size: 30px;
    }
    .popup-trade-enter {
        padding: 14px 17px;
    }
    .popup-padding {
        padding: 10px !important;
    }
    .right-car-bottom-text {
        font-size: 8px;
    }
    .popup-right-car {
        height: min-content;
    }
    .right-car-box p {
        font-size: 8px;
    }
    .right-car-box-money span {
        left: -10px;
    }
}
@media only screen and (max-width: 350px) {
    
    .car-col-1-img-container {
        height: min-content;
        width: 100vw
    }
    .car-col-1-img {
        min-height: min-content;
        min-width: 100%;
        max-height: min-content;
        max-width: 100%;
        object-fit: cover;
    }
    .car-col-1-back {
        margin-left: 10px !important;
    }
    .car-col-1-title-text {
        margin-left: 10px !important;
    }
    /* .car-col-1-vin {
        margin-left: 10px !important;
    } */
    .car-col-1-info-container {
        margin-left: 10px !important;
    }
    .header_bottom-h4 {
        font-size: 14px;
    }
    .header_bottom-logo {
        margin: 0 9px 0 0;
    }
    .car-col-3-selections {
        padding: 10px
    }
    .car-col-3-selections-container {
        font-size: 12px;
    }
    .section-car {
        padding: 20px 0;
    }
    .credit-bottom-right {
        width: 300px;
    }
    .credit-content-slider-container {
        width: 264px;
    }

    .popup-section-title-box p {
        font-size: 8px;
    }

    .popup-section-title-box span {
        font-size: 8px;
    }   

    
}