.nav {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: var(--dark-gray);
    // box-shadow: var(--shadow-dark);
    z-index: 10000;
    transition: all 300ms ease-in-out;
    transform: translateY(0);

    @media only screen and (max-width:450px) {
        padding: 1rem 2rem;
    }

    &__left {

        display: flex;
        align-items: center;
        justify-content: center;
        &-logo {
            font-family: 'Satisfy', cursive;
            font-size: 5rem;
            cursor: pointer;
            color: var(--font-color);
            text-decoration: none;
            transition:  color 200ms ease-in-out;
            &:hover {
                color: var(--accent-color);
            }
        }
    }

    &__right {

        input {
            display: none;
        }

        &-list {

            display: flex;
            list-style: none;
            font-size: 2rem;

            @media only screen and (max-width:800px) {
                position: absolute;
                top: 0;
                margin-top: 80px;
                right: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 15rem;
            }

            @media only screen and (max-width:500px) {
                // width: 100%;
            }

            &--item {
                @media only screen and (max-width:800px) {
                    margin-right: 0 !important;
                    width: 5rem;
                } 
            }

            &--item:not(:last-child) {
                margin-right: 2rem;

            }

            &--item a {
                color: var(--font-color);
                text-decoration: none;
                transition:  color 200ms ease-in-out;
            }
            &--item a:hover {
                color: var(--accent-color);
            }
        }
    }

    &__container {

        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width:800px) {
            display: flex;
        }

        &-button,
        &-button::before,
        &-button::after {
            display: block;
            background-color: var(--accent-color);
            position: absolute;
            height: 4px;
            width: 30px;
            transition: transform 800ms cubic-bezier(0.23,1,0.32,1);
            border-radius: 2px;
        }

        &-button::before {
            content: '';
            margin-top: 8px;
        }

        &-button::after {
            content: '';
            margin-top: -8px;
        }
    }
}

#nav-toggle:checked + .nav__container .nav__container-button::before {
    margin-top: 0;
    transform: rotate(45deg);
}

#nav-toggle:checked + .nav__container .nav__container-button {
    background-color: rgba(255, 255, 255, 0);
}

#nav-toggle:checked + .nav__container .nav__container-button::after {
    margin-top: 0;
    transform: rotate(-45deg);
}

// Link BTN

.link-btn {
    margin-top: 3rem;
    background: none;
    text-decoration: none;
    font-size: 2rem;
    border: 1px solid var(--accent-color);
    padding: 1rem 2rem;
    color: var(--accent-color);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 400ms ease-in;
}

.link-btn:hover {
    background-color: var(--button-hover);
}

// SOCIALS

.socials {
    width: 4rem;
    position: fixed;
    bottom: 0;
    right: 40px;
    z-index: 10;
    color: var(--font-color-2);

    @media only screen and (max-width:900px) {
        position: absolute;
        right: 50%;
        transform: translateX(-50%);
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        @media only screen and (max-width:900px) {
            flex-direction: row;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-child {
                margin-bottom: 2rem;

                @media only screen and (max-width:900px) {
                    margin-bottom: 0;
                }
            }
            a {
                color: inherit;
                padding: 1rem;
            }

            transform: translateY(0);
            &:hover {
                transition: transform 100ms ease;
                transform: translateY(-3px); 
               color: var(--accent-color);
            }
            svg {
               width: 2rem !important;
               height: 2rem;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0 auto;
            background-color: var(--font-color-2);
        }
    }
}

@media only screen and (max-width:800px) {

    #nav-toggle ~ .nav__right-list {
        right: -15rem;
        transition: right 400ms ease-in;
        
    }
    #nav-toggle:checked ~ .nav__right-list {
        right: 0;
        transition: right 400ms ease-in;
    }
    #nav-toggle ~ .nav__right-list li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23,1,0.32,1);
        opacity: 0;
    }
    #nav-toggle:checked ~ .nav__right-list li {
        // border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23,1,0.32,1);
        opacity: 1;
        color: var(--dark-gray);
    }

    .nav__right-list > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5rem 0;
        width: 100%;
        background-color: var(--dark-gray);
    }

    .nav__right-list > li:not(:last-child) {
        // border-bottom: 1px solid var(--gray) !important;
    }
    
}

.scroll-down {
    transform: translateY(0);
}
